[Unit]
Description=gunicorn socket for aws_cicd

[Socket]
# Le socket sera créé dans /run et utilisé par Gunicorn
ListenStream=/run/gunicorn.sock
# Permissions pour que Nginx puisse lire/écrire
SocketUser=ubuntu
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
