[Unit]
Description=gunicorn socket for aws_cicd
[Socket]
ListenStream=/home/ubuntu/project-pipeline-aws/aws_cicd.sock
SocketUser=ubuntu
SocketGroup=www-data
SocketMode=0660
[Install]
WantedBy=sockets.target
