[Unit]
Description=gunicorn socket for aws_cicd

[Socket]
# Socket utilisé par Gunicorn
ListenStream=/run/gunicorn.sock
# Permissions pour que Nginx puisse accéder
SocketUser=ubuntu
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
